*{
    margin: 0px;
    font-family: Arial;
    box-sizing: border-box;
}

/* Nav1 */
.navbar {
    background-color: #0f1111;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Box1 */
.nav-logo {
    height: 50px;
    width: 100px;
}
.logo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* Border */
.border {
    border: 1px solid transparent;
}
.border:hover {
    border: 1px solid white;
    cursor: pointer;
}

/* Box2 */
.location {
    height: 50px;
    width: 90px;
    margin: 5px 2px 5px 0px;
    padding-top: 7px;
    padding-left: 9px;
}
.loc-icon {
    display: flex;
    align-items: center;
}
.loc-first{
    color: #cccccc;
    font-size: 0.75rem;
    padding-left: 15px;
}
.loc-second {
    font-size: 1rem;
    margin-left: 3px;
}

/* Box3 */
.search{
    height: 40px;
    width: 800px;
    display: flex;
}
.dropdown {
    height: 100%;
    width: 50px;
    text-align: center;
    background-color: #e6e6e6;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
}
.searchbar {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search:hover {
    border: 3px solid #febd68;
    border-radius: 8px;
}
.search-icon {
    height: 100%;
    width: 50px;
    border: none;
    padding: 0px;
    background-color: #febd68;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
}
/* Box4 */
.nav-region {
    height: 50px;
    width: auto;
    display: flex;
}
.nav-region select {
    background-color: #0f1111;
    border: none;
    color: white;
    border: none;
}
.globe-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Box5 */
.sign-in {
    height: 50px;
    width: 130px;
    padding: 5px 0px 0px 10px;
}

/* style1 */
.style-one {
    font-weight: 700;
    font-size: 0.90rem;
}

/* Box6 */
.nav-return {
    height: 50px;
    width: 80px;
    padding: 5px 0px 0px 7px;
}

/* Box7 */
.nav-cart {
    height: 50px;
    width: 80px;
    font-size: 0.85rem;
    font-weight: 700;
    padding: 5px;
    padding-top: 9px;
}
.nav-cart i {
    font-size: 1.8rem;
}

/* Nav2 */
.panel {
    height: 40px;
    background-color: #232f3e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.90rem;
    font-weight: 500;
}

    /* Box1 */
    .panel-menu {
        height: 100%;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.90rem;
    }
    .panel-menu i {
        padding-right: 3px;
        font-size: 1.1rem;
    }

    /* panel-option */
    .panel-opt {
        height: 100%;
        width: 95%;
    }
    .panel-opt p {
        height: 100%;
        display: inline-block;
        margin-left: 10px;
        padding: 10px 3px 0px 3px;
    }

/* Main */
main {
    background-color: #e6e6e6;
}
main a {
    color: #2162a1;
    text-decoration: none;
}

/* Hero Section */
.hero-section {
    background-image: url(hero_image2.jpg);
    background-size: cover;
    height: 400px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

    /* Box1 */
    .hero-msg{
        height: 50px;
        width: 95vw;
        background-color: #f5f6f6;
        color: #0f1111;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1rem;
        position: relative;
        top: 310px;
    }
    
/* Shopping Section */
.shop-section {
    width: 98.5vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}
.shop-section h2 {
    font-weight: 700;
    font-size: 25px;
    color: #0f1111;

}
.shop-section img {
    width: 170px;
    height: auto;
}

/* Style 2*/
.style-out {
    height: 480px;
    width: 23.25%;
    padding: 20px 0px 15px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Style 3*/
.style-in {
    height: 380px;
    width: 370px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
    .style-in span {
        display: inline-block;
        width: 140px;
    }
    .style-in a {
        width: 90%;
    }

/* Layout One */
.layout-one {
    height: 450px;
    width: 23.25%;
    padding: 20px 0px 15px;
    background-color: white;
}
    .layout-one-header {
        font-weight: 700;
        font-size: 25px;
        color: #0f1111;
        padding: 0px 20px;
        margin-bottom: 10px;
    }
    .layout-one-body {
        height: 70%;
        width: 100%;
        padding: 0px 20px;
        display: flex;
        justify-content: space-evenly;
    }
        .layout-one-section {
            height: 50%;
            width: 100%;
        }
            .layout-one-image {
                height: 100%;
                width: 60%;
            }
            .layout-one-image span {
                width: 100%;
            }
        
    .layout-one-footer {
        padding: 0px 20px;
        margin-bottom: 20px;
    }

